# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/deploy
/screenshots

# dependencies
node_modules

# IDEs
/.idea
/.vscode

# misc
.DS_Store
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.chrome
/.git
/.rpt2_cache
