<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Welcome to <a target="_blank" [href]="url">{{title}}</a> demo app!
</h1>

<div class="container">
  <h2>Equation: </h2>
  <p>Type here your equation:</p>
  <p><input type="text" [(ngModel)]="equation"></p>
  <p><ng-katex [equation]="equation" [options]="options"></ng-katex></p>

  <h2>Paragraph: </h2>
  <p>Type here your paragraph:</p>
  <p><input type="text" [(ngModel)]="paragraph"></p>
  <ng-katex-paragraph [paragraph]="paragraph"></ng-katex-paragraph>
</div>
