h1 {
  text-align: center;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: vertical;
}

ng-katex {
  font-size: 1.5em;
}

a {
  color: #329894;
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}
